.logo-strip {
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
  transform: rotate(-10deg);
  padding: var(--space);
  &__logo {
    & + & {
      margin-left: var(--space);
    }
  }
}
