.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-y: scroll;
  padding: var(--space);
  pointer-events: none;
  z-index: var(--highestLevel);
  .modal__card {
    --modalPadding: calc(var(--space) / 2);
    padding: var(--modalPadding);
    border-radius: var(--cardRadius);
    background: var(--white);
    box-shadow: var(--elevation-5);
    & > div {
      padding: 0 var(--modalPadding) var(--modalPadding) var(--modalPadding);
      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }
  .modal__close-button {
    pointer-events: all;
    z-index: 1;
  }
  .modal__transport {
    position: relative;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 320px;
  }
}

.modal__background {
  background: rgba(50, 50, 93, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: all;
  width: 100vw;
  height: 100vh;
  z-index: calc(var(--highestLevel) - 1);
  cursor: pointer;
}
