/* Layout Classes */
/* 🔒 Not configurable */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.wrapper {
  max-width: var(--layoutWidthMax);
  padding: 0 var(--gutterWidth);
  margin: 0 auto;
}

/* GRID */
.grid {
  --gridCols: 2;
  --colMinWidth: calc((var(--layoutWidth) / 3) - (var(--gridGap) * 2));
  margin: 0 auto;
  grid-gap: var(--gridGap);
  display: block;
  grid-template-columns: repeat(auto-fit, minmax(var(--colMinWidth), 1fr));
  &--split {
    grid-template-columns: 1fr minmax(0, 3fr);
  }
  @for $i from 2 through 4 {
    &--cols-#{$i} {
      --gridCols: #{$i};
      grid-template-columns: repeat(var(--gridCols), 1fr);
    }
  }
}

/* FLEXBOX */
.flex {
  --justifyContent: space-between;
  --alignItems: center;

  display: block;
  justify-content: var(--justifyContent);
  align-items: var(--alignItems);
  &--around {
    --justifyContent: space-around;
  }
  &--end {
    --justifyContent: flex-end;
  }
  &--center {
    --justifyContent: center;
  }
}

@media only screen and (min-width: 500px) {
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}

/* --- Container Classes --- */

.margin {
  &s {
    margin: var(--headingMargins);
  }
  &-0 {
    margin: 0;
  }
  &-top-0 {
    margin-top: 0;
  }
}

.padding {
  padding: var(--space);
}

.container {
  padding: var(--space) 0;
}

.section {
  --sectionPaddingNormalMax: 128;
  --sectionPaddingSmallMax: 110;
  --sectionPaddingMin: 72;
  --sectionPaddingMax: var(--sectionPaddingNormalMax);
  --sectionPaddingTopMax: var(--sectionPaddingMax);
  --sectionPaddingBottomMax: var(--sectionPaddingMax);

  --sectionPaddingTop: calc(
    var(--sectionPaddingMin) * 1px +
      (var(--sectionPaddingTopMax) - var(--sectionPaddingMin)) *
      (var(--windowWidth) - 375px) / 737
  );

  --sectionPaddingBottom: calc(
    var(--sectionPaddingMin) * 1px +
      (var(--sectionPaddingBottomMax) - var(--sectionPaddingMin)) *
      (var(--windowWidth) - 375px) / 737
  );

  position: relative;
  z-index: 1;
  padding: var(--sectionPaddingTop) 0 var(--sectionPaddingBottom);
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1112px) {
  .section {
    --sectionPaddingTop: calc(var(--sectionPaddingTopMax) * 1px);
    --sectionPaddingBottom: calc(var(--sectionPaddingBottomMax) * 1px);
  }
}

/* Size Theme */
.theme {
  &--compact {
  }
  &--full {
  }
  &--normal {
  }
}
