.center-text {
  text-align: center;
}

.Copy {
  --titleFont: var(--titleWeight) var(--titleFontSize) / var(--titleLineHeight)
    var(--fontFamily);
  --captionFont: var(--fontWeightBold) var(--captionFontSize, 18px) /
    var(--captionLineHeight, 1.555555556) var(--fontFamily);
  --bodyFont: var(--fontWeightNormal) var(--bodyFontSize, 18px) /
    var(--bodyLineHeight, 1.555555556) var(--fontFamily);
  letter-spacing: 0.2px;

  --paddingLeft: var(--columnPaddingNormal);
  --paddingRight: var(--columnPaddingMedium);
  --headerPaddingLeft: var(--paddingLeft);
  --headerPaddingRight: var(--paddingRight);
  --bodyPaddingLeft: var(--paddingLeft);
  --bodyPaddingRight: var(--paddingRight);
  --footerPaddingLeft: var(--paddingLeft);
  --footerPaddingRight: var(--paddingLeft);
  --footerRowGap: var(--rowGapMedium);
  --ctaSpacing: 16px;
  scroll-margin-top: var(--fixedNavScrollMargin);
}

.Copy,
.Copy__header {
  display: grid;
  row-gap: var(--rowGap);
}

.Copy__header {
  position: relative;
  padding: 0 var(--headerPaddingRight) 0 var(--headerPaddingLeft);
}

.Copy__caption {
  font: var(--captionFont);
  color: var(--accentColor);
}

.Copy__title {
  position: relative;
  font: var(--titleFont);
  color: var(--titleColor);
  letter-spacing: var(--titleLetterSpacing, inherit);
}

.Copy__body {
  padding: 0 var(--bodyPaddingRight) 0 var(--bodyPaddingLeft);
  font: var(--bodyFont);
  color: var(--textColor);
}

.Copy__footer {
  display: grid;
  row-gap: var(--footerRowGap);
  padding: 0 var(--footerPaddingRight) 0 var(--footerPaddingLeft);
}

.Copy__ctaContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

@media (min-width: 1112px) {
  .Copy.variant--Section {
    --titleFontSize: 38px;
    --titleLineHeight: 1.263157895;
    --titleLetterSpacing: -0.2px;
  }
}

.Copy.variant--Section,
.Copy.variant--Subsection {
  --paddingRight: var(--columnPaddingXLarge);
  --rowGap: var(--rowGapMedium);
  --titleWeight: var(--fontWeightBold);
  --paragraphGap: 20px;
}
.Copy.variant--Section {
  --titleFontSize: 34px;
  --titleLineHeight: 1.294117647;
  --titleLetterSpacing: -0.1px;
}

h2 {
  display: block;
  font-size: 1.5em;
  // margin-block-start: 0.83em;
  // margin-block-end: 0.83em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  font-weight: bold;
}

h1 {
  display: block;
  font-size: 2em;
  // margin-block-start: 0.67em;
  // margin-block-end: 0.67em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  font-weight: bold;
}

:-webkit-any(article, aside, nav, section)
  :-webkit-any(article, aside, nav, section)
  h1 {
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

p {
  display: block;
  // margin-block-start: 1em;
  // margin-block-end: 1em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
}
