// BUTTONS
// TODO WIP

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.cta {
  --buttonRadius: 15px;
  --ctaFont: var(--fontWeightSemibold) 15px/1.6 var(--fontFamily);
  display: inline-block;
  padding: 3px 0 6px;
  border-radius: 16.5px;
  font: var(--ctaFont);
  color: var(--buttonColor);
  white-space: nowrap;
  transition: var(--hoverTransition);
  outline: none;
}

button.cta {
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--buttonColor);
  -webkit-transition-property: background-color, opacity;
  transition-property: background-color, opacity;
}

.cta-container > .cta:first-of-type,
.cta-container > .CtaButton:last-of-type {
  margin-bottom: 16px;
}

.cta-container > .vta:first-of-type:last-of-type {
  margin-bottom: 0;
}

.HoverArrow {
  --arrowHoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  --arrowHoverOffset: translateX(3px);
  position: relative;
  top: 1px;
  margin-left: 8px;
  stroke-width: 2;
  fill: none;
  stroke: currentColor;
}
