body {
  background-color: var(--bgColor);
  color: var(--sheetTextColor);
  font-family: var(--bodyFont);
  line-height: 1.5;
}

.dark-mode {
  --bgColor: var(--black);
  --textColor: var(--white);
  --cardBg: var(--black);
}

section {
}

#modal-root {
  position: relative;
  z-index: var(--highestLevel);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin: var(--margin);
  line-height: 1.15;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav {
  font-family: var(--headingFont);
}

h1 {
  font-size: var(--heading-one);
}

h2 {
  font-size: var(--heading-two);
}

h3 {
  font-size: var(--heading-three);
}

h4 {
  font-size: var(--heading-four);
}

h5 {
  font-size: var(--heading-five);
}

h6 {
  font-size: var(--heading-six);
}

p {
  font-family: var(--bodyFont);
  line-height: 36px;
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
