html {
  /* Layout vars*/
  --gutterWidth: 16px;
  --scrollbarWidth: 0px;
  --windowWidth: calc(100vw - var(--scrollbarWidth));
  --layoutWidth: calc(var(--windowWidth) - var(--gutterWidth) * 2);
  --layoutWidthMax: 1080px;

  --sectionPaddingTop: 160px;
  --sectionPaddingBottom: 160px;

  --columnPadding: 16px;

  --rowGap: 8px;
  --rowGapMedium: 24px;
  --rowGapLarge: 32px;
  --rowGapXLarge: 64px;

  // --columnCountMax: 1;
  --columnWidth: calc(var(--layoutWidth) / var(--columnCountMax));
  --columnMaxWidth: calc(var(--layoutWidthMax) * 0.25);

  font-size: 100%; /*16px*/
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  color: var(--textColor);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeightNormal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#modal-root {
  position: relative;
  z-index: var(--highestLevel);
}

/* Above large breakpoint */
@media (min-width: 1112px) {
  html {
    --layoutWidth: var(--layoutWidthMax);
    --gutterWidth: calc((var(--windowWidth) - var(--layoutWidth)) / 2);
  }
}
