/* Global Layout Classes */
/* 🔒 Not configurable */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
// TODO WIP

/* Card */
// .card {
//   padding: var(--cardPadding);
//   border-radius: var(--cardRadius);
//   background: var(--white);
// }

// .card > *:first-child {
//   margin-top: 0;
// }

// .card > *:last-child {
//   margin-bottom: 0;
// }

// /* Flex */
// .space-between {
//   display: flex;
//   margin: 0 auto;
//   justify-content: space-between;
// }

// .space-between > *:last-child {
//   margin-left: 20px;
// }

// /* Cols */
// .cols {
//   display: grid;
//   grid-gap: var(--rowGap);
//   grid-template-columns: 1fr;
// }

// @media only screen and (min-width: 900px) {
//   .cols {
//     grid-template-columns: 1fr 360px;
//   }
//   .cols.reverse {
//     grid-template-columns: 360px 1fr;
//   }
// }

// /* Wrapper */
// .wrapper {
//   padding: 0 var(--basePadding);
//   margin: 0 auto;
//   max-width: 1400px;
// }

// @media only screen and (min-width: 1280px) {
//   .wrapper.tight {
//     max-width: "940px";
//   }
// }

/* --- Container Classes --- */
// .container {
//   padding: var(--topSectionPadding) 0 var(--bottomSectionPadding) 0;
// }

// /* Vertical margins wrapper */
// .margins {
//   margin: var(--margins);
// }

// .no-margins {
//   margin: 0;
// }

// .no-top-margin {
//   margin-top: 0;
// }

// /* Only top section padding */
// .top-padding {
//   padding-top: var(--topSectionPadding);
// }

// /* Only bottom section padding */
// .bottom-padding {
//   padding-bottom: var(--bottomSectionPadding);
// }

// /* --- Mobile Classes (Below medium screen size) --- */
// @media (max-width: 880px) {
//   /* Change order of grid item on mobile
//   ? This class should be placed on the first item in a grid with 2 desktop columns to change it's order on mobile
// */
//   .mobile-reverse-item {
//     grid-row: 2;
//   }
//   /* Hide item on mobile */
//   .hide-mobile {
//     display: none;
//   }
// }

// COLS

@media (min-width: 600px) {
  .ColumnLayout[data-columns="1,1,1,1"],
  .ColumnLayout[data-columns="2,1,0"],
  .ColumnLayout[data-columns="2,1,1"],
  .ColumnLayout[data-columns="2,2"] {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .ColumnLayout[data-columns="1,3"] {
    grid-template-columns: 1fr minmax(0, 3fr);
  }
}

.ColumnLayout {
  --columnRowGap: var(--rowGapLarge);
  display: grid;
  row-gap: var(--columnRowGap);
  align-items: flex-start;
}

// ROWS
@media (min-width: 900px) {
  .RowLayout {
    --rowLayoutGapLarge: 64px;
    --rowLayoutGapXLarge: 96px;
  }
}

@media (min-width: 600px) {
  .RowLayout {
    --rowLayoutGapMedium: 48px;
    --rowLayoutGapLarge: var(--rowLayoutGapMedium);
    --rowLayoutGapXLarge: var(--rowLayoutGapMedium);
  }
}

.RowLayout {
  --rowLayoutGapSmall: 16px;
  --rowLayoutGapNormal: 32px;
  --rowLayoutGapMedium: var(--rowLayoutGapNormal);
  --rowLayoutGapLarge: var(--rowLayoutGapNormal);
  --rowLayoutGapXLarge: var(--rowLayoutGapNormal);
  --rowLayoutGap: var(--rowLayoutGapLarge);
  display: grid;
  grid: auto/minmax(0, 1fr);
  row-gap: var(--rowLayoutGap);
}

@media (min-width: 672px) {
  .UserLogoGrid {
    --gridColumnCount: 4;
  }
}

.UserLogoGrid {
  --gridColumnCount: 2;
  --gridRowGap: 60px;
  display: grid;
  grid: auto/repeat(var(--gridColumnCount), 1fr);
  justify-items: center;
  align-items: center;
  row-gap: var(--gridRowGap);
}
