.Section {
  --sectionPaddingNormalMax: 128;
  --sectionPaddingSmallMax: 110;
  --sectionPaddingMin: 72;
  --sectionPaddingMax: var(--sectionPaddingNormalMax);
  --sectionPaddingTopMax: var(--sectionPaddingMax);
  --sectionPaddingBottomMax: var(--sectionPaddingMax);
  --sectionMarginBottom: 0;
  --sectionOverflow: hidden;
  --sectionBackgroundOverflow: visible;

  --sectionPaddingTop: calc(
    var(--sectionPaddingMin) * 1px +
      (var(--sectionPaddingTopMax) - var(--sectionPaddingMin)) *
      (var(--windowWidth) - 375px) / 737
  );
  --sectionPaddingBottom: calc(
    var(--sectionPaddingMin) * 1px +
      (var(--sectionPaddingBottomMax) - var(--sectionPaddingMin)) *
      (var(--windowWidth) - 375px) / 737
  );

  position: relative;
  z-index: 1;
  margin-bottom: var(--sectionMarginBottom);
  color: var(--textColor);
}

@media (min-width: 1112px) {
  .Section {
    --sectionPaddingTop: calc(var(--sectionPaddingTopMax) * 1px);
    --sectionPaddingBottom: calc(var(--sectionPaddingBottomMax) * 1px);
  }
}
