.footer {
  color: var(--footerColor);
  background: var(--purpleGradient);
  &--logo {
    padding-right: 5em;
  }
}

.sub-footer {
  background: var(--deep-purple);
  font-size: var(--smallestText);
  color: grey;
  a {
    color: grey;
  }
  }
