.footer {
  margin-top: auto;
  color: var(--footerColor);
  background: var(--purpleGradient);
  &__nav {
    align-items: flex-start;
    a {
      display: block;
      & + a {
        margin-top: var(--space);
      }
    }
    .cta + .cta {
      margin: var(--space) 0;
      display: block;
    }
    @media (max-width: 600px) {
      a {
        margin-top: var(--space);
      }
      .cta:first-child {
        margin-top: var(--space);
      }
    }
  }
  &__bottom {
    background: var(--deepPurple);
    font-size: var(--smallestText);
    color: var(--gray);
    a {
      color: var(--gray);
      & + a {
        margin-left: var(--space);
      }
    }
  }
}
