.Header {
  position: relative;
  max-width: calc(var(--columnPadding) * 2 + var(--layoutWidth));
  margin: 0 auto;
  padding: 0 var(--columnPadding);
  .InnerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--columnPadding);
    .MainNav {
      display: none;
      ul {
        display: flex;
        li + li {
          margin-left: var(--columnPadding);
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .Header {
    .InnerHeader {
      padding: var(--columnPadding);
      .MobileNav {
        display: none;
      }
      .MainNav {
        display: block;
      }
    }
  }
}
