.section {
  position: relative;
  /* Theme intentions */
  --sectionBgColor: none;
  --sectionHeadlineColor: var(--headlineColor);
  --sectionTextColor: var(--textColor);

  &.section--theme__dark,
  &.section--theme__primary {
    // --sectionHeadlineColor: var(--white);
    // --sectionTextColor: var(--white);
  }

  &.section--theme__dark {
    --sectionBgColor: var(--black);
  }

  &.section--theme__primary {
    --sectionBgColor: var(--primaryColor);
  }

  &.section--theme__white {
    --sectionBgColor: var(--white);
  }

  /* Skewed Section */
  &.section--skewed {
    background: none;
    .slant {
      --paperSkew: -10deg;
      --skewDir: 1;
      position: absolute;
      top: 50%;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background: var(--sectionBgColor);
      transform: skewY(calc(var(--paperSkew) * var(--skewDir))) translateY(-50%);
    }
  }

  .section--inner {
    /* Size intentions */
    &.section--padding {
      --sectionPaddingNormalMax: 120;
      --sectionPaddingMin: 40;
      --sectionPaddingMax: var(--sectionPaddingNormalMax);

      --sectionPaddingTop: calc(
        var(--sectionPaddingMin) * 1px + (var(--sectionPaddingTopMax) - var(--sectionPaddingMin)) *
          (var(--windowWidth) - var(--layoutWidthMin)) / var(--maxTextLayoutWidth)
      );
      --sectionPaddingBottom: calc(
        var(--sectionPaddingMin) * 1px + (var(--sectionPaddingBottomMax) - var(--sectionPaddingMin)) *
          (var(--windowWidth) - var(--layoutWidthMin)) / var(--maxTextLayoutWidth)
      );

      position: relative;
      z-index: 1;
      padding: var(--sectionPaddingTop) 0 var(--sectionPaddingBottom);
      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        margin-bottom: 0;
      }

      --sectionPaddingTopMax: var(--sectionPaddingMax);
      --sectionPaddingBottomMax: var(--sectionPaddingMax);
    }
  }

  background-color: var(--sectionBgColor);
  color: var(--sectionTextColor);
}

@media (min-width: 1112px) {
  .section .section--padding {
    --sectionPaddingTop: calc(var(--sectionPaddingTopMax) * 1px);
    --sectionPaddingBottom: calc(var(--sectionPaddingBottomMax) * 1px);
  }
}

// export const Paper = styled.div<{
//   reverse?: boolean
//   inverted?: boolean
//   skew?: string
// }>`
//   --paperSkew: -5deg;
//   --skewDir: 1;
//   position: absolute;
//   top: 50%;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   z-index: 0;
//   box-shadow: var(--sheetShadow);
//   background: var(--sheetBg);
//   transform: skewY(calc(var(--paperSkew) * var(--skewDir))) translateY(-50%);
//   ${({ skew = 'small' }) => {
//     if (skew === 'medium') {
//       return css`
//         --paperSkew: -15deg;
//       `
//     }
//     return css`
//       --paperSkew: -5deg;
//     `
//   }}
//   ${({ reverse }) =>
//     reverse &&
//     css`
//       --skewDir: -1;
//     `}
//   ${({ inverted }) =>
//     inverted &&
//     css`
//       box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.4) inset,
//         0px 0px 4px rgba(0, 0, 0, 0.25) inset;
//       background: var(--black);
//     `}
// `

// <div style="overflow: hidden;">
//   <svg
//     preserveAspectRatio="none"
//     viewBox="0 0 1200 120"
//     xmlns="http://www.w3.org/2000/svg"
//     style={{ fill: '#ffffff', width: '122%', height: 420, transform: 'scaleX(-1)' }}
//   >
//     <path d="M1200 120L0 16.48V0h1200v120z" />
//   </svg>
// </div>
