.section {
  position: relative;
  /* Theme intentions */
  --sectionBgColor: none;
  --sectionBgImage: none;
  --sectionHeadingColor: var(--headingColor);
  --sectionTextColor: var(--textColor);

  &.section--skewed.section--hero {
    margin-top: var(--largestSpace);
  }

  &.section--theme__dark,
  &.section--theme__primary,
  &.section--theme__deep {
    --sectionHeadingColor: var(--white);
    --sectionTextColor: var(--white);
  }

  &.section--theme__dark {
    --sectionBgColor: var(--black);
  }

  &.section--theme__deep {
    --sectionBgColor: var(--deepPurple);
    &.section--skewed.section--hero .slash {
      --sectionBgImage: url('../../images/bg-blur.png');
      background-image: var(--sectionBgImage);
      background-size: cover;
      background-repeat: none;
      background-position: left center;
    }
  }

  &.section--theme__gray {
    --sectionBgColor: var(--grayGradient);
  }

  &.section--theme__primary {
    --sectionBgColor: var(--primaryColor);
    &.section--skewed.section--hero .slash {
      --sectionBgImage: url('../../images/bg-blur.png'), var(--deepGradient);
      background-image: var(--sectionBgImage);
      background-size: cover;
      background-repeat: none;
      background-position: left center;
    }
  }

  &.section--theme__white {
    --sectionBgColor: var(--white);
  }

  &.section--theme__funky {
    --sectionBgColor: var(--funkyGradient);
    &.section--skewed .slash {
      opacity: 0.2;
    }
  }

  &.section--banner {
    z-index: 1;
    background: var(--funkyGradient);
    padding: var(--largestSpace);
  }

  /* Skewed Section */
  &.section--skewed {
    background: none;
    .slash {
      --paperSkew: -10deg;
      --skewDir: 1;
      position: absolute;
      top: 50%;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
      background: var(--sectionBgColor);
      transform: skewY(calc(var(--paperSkew) * var(--skewDir))) translateY(-50%);
    }
  }

  &.section--hero {
    .slash {
      height: 125%;
      transform: skewY(calc(var(--paperSkew) * var(--skewDir))) translateY(-70%);
    }
  }

  .section__inner {
    /* Size intentions */
    &.section--padding {
    &.section--padding__top-0 {
      padding-top: 0;
    }
    &.section--padding__bottom-0 {
      padding-bottom: 0;
    }
      --sectionPaddingNormalMax: 80;
      --sectionPaddingMin: 40;
      --sectionPaddingMax: var(--sectionPaddingNormalMax);

      --sectionPaddingTop: calc(
        var(--sectionPaddingMin) * 1px + (var(--sectionPaddingTopMax) - var(--sectionPaddingMin)) *
          (var(--windowWidth) - var(--layoutWidthMin)) / var(--maxTextLayoutWidth)
      );
      --sectionPaddingBottom: calc(
        var(--sectionPaddingMin) * 1px + (var(--sectionPaddingBottomMax) - var(--sectionPaddingMin)) *
          (var(--windowWidth) - var(--layoutWidthMin)) / var(--maxTextLayoutWidth)
      );

      position: relative;
      z-index: 1;
      padding: var(--sectionPaddingTop) 0 var(--sectionPaddingBottom);
      & > *:first-child {
        margin-top: 0;
      }
      & > *:last-child {
        margin-bottom: 0;
      }

      --sectionPaddingTopMax: var(--sectionPaddingMax);
      --sectionPaddingBottomMax: var(--sectionPaddingMax);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--sectionHeadingColor);
  }
  background: var(--sectionBgColor);
  color: var(--sectionTextColor);
  background-image: var(--sectionBgImage);
}

@media (min-width: 1112px) {
  .section .section--padding {
    --sectionPaddingTop: calc(var(--sectionPaddingTopMax) * 1px);
    --sectionPaddingBottom: calc(var(--sectionPaddingBottomMax) * 1px);
  }
}
