.section .card {
  --cardPadding: var(--space);
  --cardElevation: none;
  --maxCardWidth: 680px;

  border-radius: var(--cardRadius);
  background: var(--cardBackground);
  box-shadow: var(--cardElevation);
  padding: var(--cardPadding);
  color: var(--textColor);
  max-width: var(--maxCardWidth);
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--headingColor);
  }
  &--funky-2,
  &--deep,
  &--primary {
    --textColor: var(--white);
    --headingColor: var(--white);
    .cta {
      --buttonBg: var(--white);
      --buttonTextColor: var(--primaryColor);
      --buttonHoverBg: var(--white);
      --buttonHoverColor: var(--primaryColor);
    }
  }
  &--white {
    padding: var(--largestSpace);
    box-shadow: 6px 20px 32px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    --cardBackground: var(--white);
  }
  &--lightBlue {
    --cardBackground: var(--lightBlue);
  }
  &--primary {
    --cardBackground: var(--primaryColor);
  }
  &--deep {
    --cardBackground: var(--deepGradient);
  }
  &--funky {
    --cardBackground: var(--funkyGradient);
  }
  &--funky-2 {
    --cardBackground: var(--funkyGradient-2);
  }

  &--full-width {
    --maxCardWidth: none;
  }
  &--padded {
    --cardPadding: var(--largestSpace);
  }
  &--icon {
    --cardPadding: var(--smallestSpace);
    --cardBackground: var(--white);
    display: inline-flex;
  }
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  @for $i from 0 through 5 {
    &--elevation-#{$i} {
      --cardElevation: var(--elevation-#{$i});
    }
  }
  @media only screen and (max-width: 800px) {
    --maxCardWidth: none;
  }
}
