.card {
  --cardPadding: 16px;
  --cardBorderRadius: 8px;
  --cardElevation: none;

  border-radius: var(--cardBorderRadius);
  background: var(--cardBackground);
  box-shadow: var(--cardElevation);
  padding: var(--cardPadding);

  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  @for $i from 0 through 5 {
    &--elevation-#{$i} {
      --cardElevation: var(--elevation-#{$i});
    }
  }
}
