/* Utility Classes */
/* 🔒 Not configurable */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* --- Color Classes --- */
.bg {
  &-primary {
    background: var(--primaryColor);
  }
  &-secondary {
    background: var(--secondaryColor);
  }
  &-accent {
    background: var(--accentColor);
  }
}

/* --- Mobile Classes (Below medium screen size) --- */
@media (max-width: 600px) {
  /* Change order of grid item on mobile
  ? This class should be placed on the first item in a grid with 2 desktop columns to change it's order on mobile
*/
  .mobile_grid-reverse {
    grid-row: 2;
  }
  /* Hide item on mobile */
  .mobile_hidden {
    display: none;
  }
}
