/* Utility Classes */
/* 🔒 Not configurable */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* --- Color Classes --- */
.bg {
  &-primary {
    background: var(--primaryColor);
  }
  &-secondary {
    background: var(--secondaryColor);
  }
  &-accent {
    background: var(--accentColor);
  }
}

// Rounds corners of anything
.rounded {
  border-radius: var(--cardRadius);
}

// Indent on desktop, part of current design layout
.indent {
  margin-left: var(--largestSpace);
}

// Add eleveation shadow
@for $i from 0 through 5 {
  .elevation-#{$i} {
    box-shadow: var(--elevation-#{$i});
  }
}
/* --- Tablet Classes */
@media (max-width: 800px) {
  /* Change order of grid item on mobile
  ? This class should be placed on the first item in a grid with 2 desktop columns to change it's order on tablets
*/
  .mobile_grid-reverse {
    grid-row: 2;
  }
}

/* --- Mobile Classes (Below medium screen size) --- */
@media (max-width: 600px) {
  /* Change order of grid item on mobile
  ? This class should be placed on the first item in a grid with 2 desktop columns to change it's order on mobile
*/
  .mobile_grid-reverse {
    grid-row: 2;
  }
  /* Hide item on mobile */
  .mobile_hidden {
    display: none;
  }

  .indent {
    margin-left: 0;
  }
}
