:root {
  /* Colors */
  --pastel: hsl(222, 100%, 75%); /* #82A8FF */
  --lightBlue: hsl(221, 94%, 94%); /* #DFE9FE */
  --purple: hsl(237, 45%, 54%); /* #555ABF */
  --purple-10: hsl(237, 45%, 44%);
  --truePurple: hsl(254, 51%, 42%); /* #4e34a1 */
  --deepPurple: hsl(240, 30%, 28%); /* #32325D; */
  --teal: hsl(192, 93%, 67%); /* #5DDBF9 */
  --teal-10: hsl(192, 93%, 77%);
  --yellow: hsl(41, 93%, 67%); /* #F9C75B */
  --pink: hsl(316, 69%, 70%); /* #E77CCA　*/
  --violet: hsl(286, 55%, 53%); /* A943C9 */

  --green: hsl(73, 70%, 66%); /* #cbe56c */
  --red: hsl(0, 75%, 60%); /* #e54b4b */

  /* Grayscale */
  --white-hs: 0, 0%;
  --pureBlack: hsl(var(--white-hs), 0%); /* #000000 */
  --black: hsl(var(--white-hs), 20%); /* #333333 */
  --darkestGray: hsl(var(--white-hs), 40%); /* #666666 */
  --darkGray: hsl(var(--white-hs), 60%); /* #999999 */
  --gray: hsl(var(--white-hs), 73%); /* #BBBBBB */
  --lightGray: hsl(var(--white-hs), 80%); /* #CCCCCC */
  --lighterGray: hsl(var(--white-hs), 93%); /* #EEEEEE */
  --lightestGray: hsl(var(--white-hs), 96%); /* #F5F5F5 */
  --white: hsl(var(--white-hs), 99%); /* #FCFCFC */
  --pureWhite: hsl(var(--white-hs), 100%); /* #ffffff */

  /* Gradients */
  --deepGradient: linear-gradient(269.29deg, var(--truePurple) 0%, var(--deepPurple) 70.54%);
  --buttonGradient: linear-gradient(95.92deg, #4752bc 18.13%, #5c1373 99.27%);
  --buttonGradient-2: linear-gradient(95.04deg, var(--purple) 33.05%, #7c1e9a 80.31%);
  --purpleGradient: linear-gradient(269.29deg, var(--deepPurple) 0%, var(--truePurple) 99.59%);
  --funkyGradient: linear-gradient(265.13deg, var(--violet) 22.71%, var(--pastel) 76.07%);
  --funkyGradient-2: linear-gradient(95.04deg, var(--purple) 33.05%, var(--truePurple) 80.31%);
  --radialGradient: radial-gradient(50% 50% at 50% 50%, var(--teal) 28.12%, var(--pastel) 68.23%, var(--purple) 100%);
  --grayGradient: linear-gradient(95.04deg, var(--lighterGray) 33.05%, var(--white) 80.31%);

  /* Colors intentions */
  --brandColor: var(--pastel);
  --primaryColor: var(--purple);
  --primaryLight: var(--purple-10);
  --secondaryColor: var(--lightGray);
  --secondaryLight: var(--gray);
  --accentColor: var(--teal);
  --accentLight: var(--teal-10);

  --backgroundColor: var(--white);
  --cardBackground: var(--white);

  --headingColor: var(--purple);
  --textColor: var(--deepPurple);
  --footerColor: var(--white);
  --lineColor: var(--lightGray);

  --dangerColor: var(--red);
  --successColor: var(--green);
  --warningColor: var(--yellow);

  /* Styles */
  --line: solid 1px var(--lineColor);

  --bodyFont: 'Fira Sans', 'Work Sans', sans-serif;
  --headingFont: 'Inconsolata', 'Space Mono', monospace;

  --fontScale: 1.25;
  --baseFontSize: 1em;

  --h6: var(--baseFontSize);
  --h5: calc(var(--h6) * var(--fontScale));
  --h4: calc(var(--h5) * var(--fontScale));
  --h3: calc(var(--h4) * var(--fontScale));
  --h2: calc(var(--h3) * var(--fontScale));
  --h1: calc(var(--h2) * var(--fontScale));

  --smallText: calc(var(--baseFontSize) / var(--fontScale));
  --smallestText: calc(var(--smallText) / var(--fontScale));

  --maxTextWidth: 737px;
  --fontWeightNormal: 300;
  --fontWeightSemibold: 400;
  --fontWeightBold: 500;
  --headingLineHeight: 1.15;
  --bodyLineHeight: 1.75;

  /* Elevation */
  --elevation-0: inset 0 30px 60px -12px rgba(50, 50, 93, 0.25), inset 0 18px 36px -18px rgba(0, 0, 0, 0.3);
  --elevation-1: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
  --elevation-2: 0 6px 12px -2px rgba(50, 50, 93, 0.25), 0 3px 7px -3px rgba(0, 0, 0, 0.3);
  --elevation-3: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3);
  --elevation-4: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3);
  --elevation-5: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);

  /* Z-Index */
  --headerLevel: 10;
  --modalLevel: calc(var(--headerLevel) * 10);
  --highestLevel: calc(var(--modalLevel) * 10);

  /* Animation */
  --transitionSpeed: 300ms;
  --hoverTransition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);

  /* Sizing */
  --spaceScale: 1.5;
  --baseSpaceSize: 1em;

  --space: var(--baseSpaceSize);
  --largeSpace: calc(var(--space) * var(--spaceScale));
  --largestSpace: calc(var(--largeSpace) * var(--spaceScale));
  --smallSpace: calc(var(--baseSpaceSize) / var(--spaceScale));
  --smallestSpace: calc(var(--smallSpace) / var(--spaceScale));

  --gridGap: var(--space);

  --headingMargins: var(--largestSpace) 0 var(--smallestSpace);
  --bodyFontMargins: 0 0 var(--space);

  --maxTextLayoutWidth: 737;
  --maxTextWidth: calc(var(--maxTextLayoutWidth) * 1px);

  /* Radii */
  --cardRadius: 3px;
  --inputRadius: 6px;
  --buttonRadius: 4rem;

  --headerHeight: 30px;
}

/* Change root sizes above MEDIUM breakpoint */
@media (min-width: 880px) {
  :root {
    // --margins: 8rem 0 2rem;
    // --topSectionPadding: 12rem;
    // --bottomSectionPadding: 12rem;
    // --padding: 3rem;
    // --cardPadding: 2.4rem;
    --headerHeight: 100px;
    --baseFontSize: 1.15em;
    --baseSpaceSize: 1.15em;
  }
}

/* Change root sizes above SMALL breakpoint */
@media (min-width: 600px) {
  :root {
    // --baseFontSize: 112.5%;
    // --margins: 8rem 0 2rem;
    // --topSectionPadding: 7rem;
    // --bottomSectionPadding: 12.5rem;
    // --padding: 3rem;
    // --cardPadding: 2.4rem;
    // --headerHeight: 125px;
  }
}
