.contact-form {
label {
  
  margin: 10px;
  padding: 5px;
  span {
    display:block;
    
  }
  input {
    width: 100%;
  }
}


select {
  background-color: white;
  display: inline-block;
  width: 100%;
  padding: 9px;
}




}